/licensing-service.iml

/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_12.xml
/.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_5.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_15.xml
/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
/.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_13.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_14.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_6.xml
/.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_64.xml
/.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_64.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_3_5_0.xml
/.idea/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_4.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_4.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_30_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_27_0_GA.xml
/.idea/libraries/Maven__org_jboss_jandex_2_2_3_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/.idea/libraries/Maven__org_postgresql_postgresql_42_2_19.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_4_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_4_5.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_commons_3_0_2.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_config_client_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_context_3_0_2.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_3_0_2.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_config_3_0_3.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_4_8.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_4_8.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_4_6.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_9_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aspects_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_orm_5_3_6.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_6.xml
